@model Skeletor.Web.UI.Areas.Installation.ViewModels.AdminAccountViewModel

@{
    ViewBag.Title = "Setup - Administrator Account";
}

<div class="row-fluid">
    <div class="span4">
        @using (Html.BeginForm( "CreateAdminAccount", "Home", new {Area = "Installation"}))
        {
            Html.EnableClientValidation(true);
            
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.FirstName)

            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.LastName)

            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.Email)

            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.Username)

            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.Password)

            @Html.LabelFor(x => x.PasswordVerified)
            @Html.PasswordFor(x => x.PasswordVerified, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.PasswordVerified)

            @Html.ValidationSummary(true)
    <button type="submit" class="btn btn-primary pull-right">Create</button>
}

    </div>
</div>

